@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300..700&display=swap');

* {
  box-sizing: border-box
}

body {
  color: white;
  margin: 0;
  padding: 0px 80px;
  background: linear-gradient(270deg, #490a1d, #5d0e41, #001836);
  background-size: 300% 300%;

  -webkit-animation: backgroundAnimation 20s ease infinite;
  -moz-animation: backgroundAnimation 20s ease infinite;
  animation: backgroundAnimation 20s ease infinite;
}

@-webkit-keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

.App {
  height: 100vh;
  width: 100%;
}

.main {
  padding: 0;
  margin: 0;
}

.header {
  background-color: blue;
  padding: 0;
  margin: 0;
  background: transparent;
  font-size: 16px;
  color: white;
}

.nav-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.header-custom {
  display: flex;
  height: 50px;
  justify-content: center;
  overflow: hidden;
}

.nav-link:hover {
  color: rgb(0, 229, 255);
}

.active-page {
  color: rgb(0, 229, 255);
  text-decoration: underline;
}

#profile-pic {
  display: flex;
  margin: 70px 0px;
  justify-content: center;
}

#profile-pic img {
  width: 400px;
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
}

.home-content {
  font-family: "Quicksand";
  margin: 10px;
  margin-top: 100px;
  position: relative;

}

.home-content p {
  font-size: 18px;
  text-align: justify;

}

.skills-img img {
  object-fit: contain;
  border-radius: 50%;
  padding: 1px;
  height: 90px;
}

.skills-notes {
  text-align: justify;
}

.skills-notes p {
  margin-bottom: 8px;
  font-size: 16px;
}

.home-links img {
  height: 40px;
  margin: 10px;
}

.home-links a,
.home-links a p {
  text-decoration: none;
  font-size: 10px;
  color: white;
  text-align: center;
  transition: 0.2s ease-in-out;

}

.home-links {
  display: flex;
  transition: 1s ease-in-out;

}

#scroll-down {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  color: white;
  cursor: pointer;
  animation: bounce 2s infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(-50%) translateY(0);
  }

  40% {
    transform: translateX(-50%) translateY(10px);
  }

  60% {
    transform: translateX(-50%) translateY(5px);
  }
}

.whole-projects {
  overflow: scroll;
  max-height: 65vh;
  border: 1px solid silver;
  border-radius: 5px;
}

.each-project {
  padding: 20px;
  border-bottom: 1px solid silver;

}

.each-project p {
  font-size: 15px;
}

.each-project>div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.project-desc {
  padding-top: 20px;
}

.each-project h6 {
  font-weight: bold;
  margin: 0;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

.each-project img {
  width: 100%;
}

footer {
  position: fixed;
  bottom: 2px;
  right: 2px;
  font-size: 10px;
}

.project-links {
  text-decoration: none;
}

.project-links:hover {
  opacity: 0.8;
}

.project-links img {
  border-radius: 10px;
  border: 1px solid rgba(192, 192, 192, 0.532)
}

p.educat {
  font-size: 25px;
}

.contact-child-div img {
  height: 40px;
}

.contact-child-div {
  display: flex;
  margin-bottom: 20px;
  text-decoration: none;
  color: white;
  gap: 10px;
}

.contact-child-div:hover {
  color: aqua;
}

@media (max-width : 750px) {
  .home-content {
    margin-top: 10px;
    margin-right: 10px;
  }

  .home-content p {
    font-size: 12px;
    text-align: justify;

  }


  .whole-projects {
    margin: 0px 0px;
    gap: 0px;
    max-height: none;
    margin-bottom: 50px;
  }

  .each-project h6 {
    line-height: 22px;
    font-size: 14px;
  }

  body {
    padding: 0;
  }

  #profile-pic img {
    width: 250px;
    border-radius: 50%;
  }

  #profile-pic {
    display: flex;
    margin: 40px 0px;
    justify-content: center;
  }

  .header {
    background-color: blue;
    padding: 0;
    margin: 0;
    background: transparent;
    font-size: 10px;
    color: white;
  }

  .skills-img img {
    height: 50px;
  }

  #scroll-down {
    display: none;
  }

}


@media (max-width : 1050px) and (min-width : 750px) {
  #profile-pic img {
    width: 300px;
    border-radius: 50%;
  }
}